@use 'variaveis';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variaveis.$corTextoSecundario;
        content: '';
        opacity: .7;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        height: 5em;
    }

    &__text {
        margin: 64px 0;
        font-size: 2.5em;
        font-weight: 800;
        text-align: center;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 2.5em;
        }

        &__text {
            font-size: 1.4em;
            line-height: 1.1em;
            margin: 24px 0;
        }
    }
}